Repository fga-eps-mds/2022-1-Alectrion-DOC, pull requests merged in 2022-07, with the labels that each got.

#50 Doc/plano custo
  docs/documentation/Gerencia/plano-custos.md
Labels: EPS

#46 Doc/termo abertura
  docs/documentation/Projetos/tap.md
Labels: docs, MDS

#51 Documento arquitetura
  docs/documentation/Gerencia/documento-arquitetura.md
  docs/documentation/assets/diagrama-de-classes.png
  docs/documentation/assets/diagrama-de-implantacao.png
  docs/documentation/assets/diagrama-de-pacotes.png
  docs/documentation/assets/diagrama-de-relacoes.png
Labels: EPS, ARQ

#56 Doc/plano comunicacao
  docs/documentation/Documentos/PlanoComunicacao.md
  docs/documentation/assets/logos/discord.png
  docs/documentation/assets/logos/drive.png
  docs/documentation/assets/logos/github.png
  docs/documentation/assets/logos/teams.png
  docs/documentation/assets/logos/whatsapp.png
  docs/documentation/assets/logos/zenhub.png
Labels: docs, MDS

#86 #14 doc: adicionado documento de visão do produto.
  docs/documentation/Lean Inception/visao-produto.md
  docs/documentation/assets/visao-produto-1.png
  docs/documentation/assets/visao-produto-2.png
  docs/documentation/assets/visao-produto-3.png
Labels: docs, MDS, EPS

#80 Doc/personas
  docs/documentation/Lean Inception/Personas.md
  docs/documentation/assets/.DS_Store
  docs/documentation/assets/persona1.png
  docs/documentation/assets/persona2.png
  docs/documentation/assets/persona3.png
Labels: docs, MDS

#95 Doc/lean inception
  docs/documentation/Lean Inception/assets/imagem_1.jpg
  docs/documentation/Lean Inception/assets/imagem_2.jpg
  docs/documentation/Lean Inception/brainstorm.md
Labels: docs, MDS
